 {# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
 {% extends '::base.html.twig' %}

 {% block body %}
     My store {{ name }}!
     
     <br />
     <br />
     <br />
     $8.999 <a href="#" class="btn btn-primary">Place bid </a>
 {% endblock %}

